<!DOCTYPE html>
<html>
<head>
  <title>Rserv</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=450">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
